.App {
  text-align: center;
  background: #3f8f8f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.leaflet-container{
  height:60vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  width: 50%;
  top: calc(30vh - 1.5rem);
  height: 3rem;
}

.locate{
  width: 7rem;
  height: inherit;
  border-radius: 1rem;
  border:1px solid white;
  cursor: pointer;
  background: rgb(50, 108, 173) ;
  color: white;
  font-weight: bold;
}

.locate:hover{
  background: rgb(31, 74, 122) ;
}

input{
  width: 70%;
  height: inherit;
  border-radius: 1rem;
  border:1px solid gray;
  padding-inline:1rem;
  font-size: larger;
  color: gray;
}

input:focus-visible , input:focus{
  outline: none;
}

.leaflet-bottom{
  display: none;
}